form {
    margin-top: 30px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

button {
    letter-spacing: .04em;
    color: #fff;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 91px;
    height: 40px;
    background-color: #4e75ff;
    border: none;
    cursor: pointer;
    transition: .25s ease-in-out;
    transition-property: background-color;
}

input {
    letter-spacing: .04em;
    color: gray;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 240px;
    height: 40px;
    padding: 0 16px;
    transition: .25s ease-in-out;
    transition-property: border-color;
}